/*전체 영역 스타일 정의*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{
	font-family: "Nanum Gothic";
}
a{
	color: #000000;
	text-decoration: : none;
}
a:hover{
	color: #bbbbbb;
	text-decoration:  none;
	cursor : pointer;
}


